pkgbase = mingw-w64-pgpgram
	pkgdesc = PGP encrypted backups on Telegram Cloud
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/tallero/pgpgram
	arch = any
	license = AGPL3
	makedepends = mingw-w64-x86_64-python-setuptools
	makedepends = mingw-w64-x86_64-binutils
	depends = mingw-w64-x86_64-python
	depends = mingw-w64-x86_64-python-appdirs
	depends = mingw-w64-x86_64-python-setproctitle
	depends = mingw-w64-x86_64-python-sqlitedict
	depends = mingw-w64-x86_64-tdlib
	optdepends = youtube-dl
	optdepends = mingw-w64-x86_64-trovotutto
	options = staticlibs
	options = strip
	options = !debug
	source = pgpgram::git+https://github.com/tallero/pgpgram.git#branch=win32
	sha256sums = SKIP

pkgname = mingw-w64-x86_64-pgpgram

